<% include ../partials/header.ejs %>



<div class="container">

    <div class="jumbotron">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">

            <h1 class="display-4">Contact Me</h1>
            <hr class="my-4" />
            <p class="lead">

                <h4>Name: Sanketkumar Vagadiya</h4>
                <h4>Email: scvagadiya@gmail.com</h4>
                <h4>Phone: 647-901-0329</h4>
                
            </p>
           
            <br />
            <br />
            <br />
        </div>

        <!-- The social media icon bar -->
        <div class="icon-bar">
            <a href="#"><i class="fa fa-facebook fa-3x"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" class="twitter"><i class="fa fa-instagram fa-3x"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" class="google"><i class="fa fa-google fa-3x"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" class="linkedin"><i class="fa fa-linkedin fa-3x"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" class="youtube"><i class="fa fa-youtube fa-3x"></i></a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" class="youtube"><i class="fa fa-mail-bulk fa-3x"></i></a>
        </div>



    </div>
</div>

</div>



<% include ../partials/footer.ejs %>