<% include ./partials/header.ejs %>



   <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">About Me</h1>
            <p class="lead">
                Hi, about me
            </p>
            <hr class="my-4" />

            <p class="lead">

            <button type="button" class="btn btn-outline-primary">Primary</button>
                <a class="btn btn-primary btn-lg"
                    href="https://scvagadiya.files.wordpress.com/2019/02/sanket-vagadiya.pdf" target="_blank" 
                    role="button">My Resume</a>
            </p>
        </div>
    </div>



<% include ./partials/footer.ejs %>
