<% include ./partials/header.ejs %>

<!---

   <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">About Me</h1>
             <hr class="my-4" />
            <p class="lead">
             <h6>   Hi, about me </h6>
            </p>
        
            <p class="lead">

                <a class="btn btn-outline-primary btn-lg"
                    href="https://scvagadiya.files.wordpress.com/2019/02/sanket-vagadiya.pdf" target="_blank" 
                    role="button">My Resume</a>

            </p>
        </div>
    </div>
-->

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md">
                <img src="https://wimtach.centennialcollege.ca/wp-content/uploads/student_sankeet-1@2x.jpg"
                    width="540px" height="720px">
            </div>
            <div class="col-md">
                <div class="shadow-lg p-3 mb-5 bg-white rounded">
                    <h2 class="align-left">
                        Sanketkumar Vagadiya</h2>
                    <div class="divider colored"></div>
                    <h5 class="align-left">
                        Mobile Application Developer</h5>
                    <hr class="my-4" />


                    <hp class="align-left">
                        I am currently enrolled in Software Engineering Technology Fast-Track program at a Centennial
                        College and has completed his Bachelor’s of Engineering in Computer Science Gujarat
                        Technological
                        University, India.
                        <br /> 
                        I have worked with WIMTACH on a cross-platform mobile application which was
                        created to assist parents of a newly born child to track the breastfeeding activities, sleep and
                        growth of the infant which also makes use of Cloud Services.</hp>

                        <br/>                        
                        <br/>
                    <div class="list-body ">
                        <h5>Skills/Highlights</h5>
                        <ul>
                            <i class="fa fa-check"></i> Cross-Platform Application Developer
                            <br/>
                            <i class="fa fa-check"></i>  Microsoft Azure and Amazon AWS API Cloud services
                            <br/>
                            <i class="fa fa-check"></i>Full stack Android Developer
                            <br/>
                            <i class="fa fa-check"></i> MEAN stack Developer
                        </ul>
                    </div>
                  
                    <blockquote>
                        <h5>Mission Statement</h5>
                            <p>Study to educate your self because, I believe that One A4 size marksheett cannot judge my future.</p>
                            </blockquote>
                            <br/> 
                </div>
            </div>
        </div>
    </div>
</div>



<!--
<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <small>Someone famous <cite title="Source Title">Source Title</cite></small>
</blockquote>

<div class="container">
    <div class="panel-grid-cell" id="pgc-2864-1-0">
        <div class="well well-sm panel-builder widget-builder widget_widget_sp_image panel-first-child panel-last-child"
            id="panel-2864-1-0-0"><img width="540" height="720" class="attachment-full" style="max-width: 100%;"
                srcset="https://wimtach.centennialcollege.ca/wp-content/uploads/student_sankeet-1.jpg 3036w, https://wimtach.centennialcollege.ca/wp-content/uploads/student_sankeet-1-225x300.jpg 225w, https://wimtach.centennialcollege.ca/wp-content/uploads/student_sankeet-1-768x1024.jpg 768w"
                sizes="(max-width: 3036px) 100vw, 3036px"
                src="https://wimtach.centennialcollege.ca/wp-content/uploads/student_sankeet-1@2x.jpg"></div>
    </div>

    <div class="panel-grid-cell" id="pgc-2864-1-1">
        <div class="panel-builder widget-builder widget_origin_title panel-first-child" id="panel-2864-1-1-0">
            <div class="origin-widget origin-widget-title origin-widget-title-simple-simple align-left text-dark">
                <h2 class="align-left">
                    Sanketkumar Vagadiya</h2>
                <div class="divider colored"></div>
            </div>
        </div>


        <div class="panel-builder widget-builder widget_origin_title" id="panel-2864-1-1-1">
            <div class="origin-widget origin-widget-title origin-widget-title-simple-simple align-left text-noraml">
                <h5 class="align-left">
                    Student Researcher</h5>
            </div>
        </div>
        <div class="panel-builder widget-builder widget_origin_spacer" id="panel-2864-1-1-2">
            <div class="origin-widget origin-widget-spacer origin-widget-spacer-simple-blank">
                <div style="margin-bottom:40px;"></div>
            </div>
        </div>
        <div class="panel-builder widget-builder widget_origin_title" id="panel-2864-1-1-3">
            <div class="origin-widget origin-widget-title origin-widget-title-simple-simple align-left text-dark">
                <hp class="align-left">
                    Sanket is currently enrolled in Software Engineering Technology Fast-Track program at a Centennial
                    College and has completed his Bachelor’s of Engineering in Computer Science Gujarat Technological
                    University, India. Sanket has worked with WIMTACH on a cross-platform mobile application which was
                    created to assist parents of a newly born child to track the breastfeeding activities, sleep and
                    growth of the infant which also makes use of Cloud Services.</hp>
            </div>
        </div>
        <div class="panel-builder widget-builder widget_origin_spacer" id="panel-2864-1-1-4">
            <div class="origin-widget origin-widget-spacer origin-widget-spacer-simple-blank">
                <div style="margin-bottom:40px;"></div>
            </div>
        </div>
        <div class="panel-builder widget-builder widget_origin_list panel-last-child" id="panel-2864-1-1-5">
            <div class="origin-widget origin-widget-list origin-widget-list-default-default text-noraml">
                <div class="list-body ">
                    <h3 class="widget-title">Skills/Highlights</h3>
                    <ul>
                        <li><i class="fa fa-check"></i>Cross-Platform Application Developer</li>
                        <li><i class="fa fa-check"></i>Microsoft Azure and Amazon AWS API Cloud services</li>
                        <li><i class="fa fa-check"></i>Full stack Android Developer</li>
                        <li><i class="fa fa-check"></i>MEAN stack Developer</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<% include ./partials/footer.ejs %>