<% include ./partials/header.ejs %>

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome To My Portfolio!</h1>
      <p class="lead">
        Hi, My name is Sanket Vagadiya. 
      </p>
      <hr class="my-4" />
      <p>
        I am Software engineering student at Centennial College. I am Cross-platform mobile application Developer.
        <br/>
        You can find more about me at here: 
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/about" role="button">About Me</a>
      </p>
    </div>
  </div>


<% include ./partials/footer.ejs %>
