<% include ./partials/header.ejs %>



   <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">About Me</h1>
            <p class="lead">
                Hi, My services
            </p>
            <hr class="my-4" />

          
        </div>
    </div>



<% include ./partials/footer.ejs %>
