<% include ../partials/header.ejs %>

<div class="container">

    <span class="border">

        <h1 class="display-4"><%= title%></h1>

        <div class="container">
            <div class="col-md-auto">
                <img src="../Assets/images/success/success1.png" class="img-thumbnail" width="256px" height="256px">
                <img src="../Assets/images/success/success2.png" class="img-thumbnail" width="256px" height="256px">
                <img src="../Assets/images/success/success3.png" class="img-thumbnail" width="256px" height="256px">
                <img src="../Assets/images/success/success4.png" class="img-thumbnail" width="256px" height="256px">
                <img src="../Assets/images/success/success5.png" class="img-thumbnail" width="256px" height="256px">
                <img src="../Assets/images/success/success6.png" class="img-thumbnail" width="256px" height="256px">
                <img src="../Assets/images/success/success7.png" class="img-thumbnail" width="256px" height="256px">
                <img src="../Assets/images/success/success8.png" class="img-thumbnail" width="256px" height="256px">

            </div>
        </div>

    </span>
</div>

<% include ../partials/footer.ejs %>