<% include ../partials/header.ejs %>
<!-- Name: Sanketkumar Vagadiya
Id: 300991500 -->

<div class="container">

    <span class="border">

        <h1 class="display-4"><%= title%></h1>

        <div class="container">
            <div class="col-md-auto">
                <img src="/Assets/images/sudoku/sudoku1.PNG" class="img-thumbnail" width="256px" height="256px">                
                <img src="/Assets/images/sudoku/sudoku2.PNG" class="img-thumbnail" width="256px" height="256px">
               
            </div>
        </div>

    </span>
</div>

<% include ../partials/footer.ejs %>