<% include ../partials/header.ejs %>
<!-- Name: Sanketkumar Vagadiya
Id: 300991500 -->

<div class="container">

    <span class="border">

        <h1 class="display-4"><%= title%></h1>

        <div class="container">
            <div class="col-md-auto">
              
<img src="/Assets/images/WombtoWorld/w2w1.jpeg" class="img-thumbnail" width="256px" height="256px">
<img src="/Assets/images/WombtoWorld/w2w2.jpeg" class="img-thumbnail" width="256px" height="256px">
<img src="/Assets/images/WombtoWorld/w2w3.jpeg" class="img-thumbnail" width="256px" height="256px">
<img src="/Assets/images/WombtoWorld/w2w4.jpeg" class="img-thumbnail" width="256px" height="256px">
<img src="/Assets/images/WombtoWorld/w2w5.jpeg" class="img-thumbnail" width="256px" height="256px">
<img src="/Assets/images/WombtoWorld/w2w6.jpeg" class="img-thumbnail" width="256px" height="256px">
<img src="/Assets/images/WombtoWorld/w2w7.jpeg" class="img-thumbnail" width="256px" height="256px">
<img src="/Assets/images/WombtoWorld/w2w8.jpeg" class="img-thumbnail" width="256px" height="256px">
<img src="/Assets/images/WombtoWorld/w2w9.jpeg" class="img-thumbnail" width="256px" height="256px">
<img src="/Assets/images/WombtoWorld/w2w10.jpeg" class="img-thumbnail" width="256px" height="256px">
<img src="/Assets/images/WombtoWorld/w2w11.jpeg" class="img-thumbnail" width="256px" height="256px">


            </div>
        </div>

    </span>
</div>

<% include ../partials/footer.ejs %>